{% extends "base.html" %}


{% block page_container %}

    <div class="chat-container">
        <div class="left-chat-panel">
            left
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#friends" role="tab" data-toggle="tab">好友</a></li>
                    <li role="presentation"><a href="#group" role="tab" data-toggle="tab">群组</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="friends">
                        <ul class="list-group">
                            {% for friend in request.user.userprofile.friends.select_related %}
                                <li contact-type="single" id="{{ friend.id }}" class="list-group-item"
                                    onclick="OpenChatWindow(this)">
                                    <span class="badge hide">0</span>
                                    <span class="contact-name">{{ friend.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="group">
                        <ul class="list-group">
                            {% for group in request.user.userprofile.group_members.select_related %}
                                <li contact-type="group" id="{{ group.id }}" class="list-group-item"
                                    onclick="OpenChatWindow(this)">
                                    <span class="badge hide">0</span>
                                    <span class="contact-name">{{ group.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="right-chat-panel">

            <div class="chat-box-title" contact-id="" contact-type="">title</div>

            <div class="chat-box-window">window</div>
            <div class="chat-box-emoj">
                <span class="glyphicon glyphicon-download-alt" style="float:right;right: 50%;" onclick="FileUpload()"></span>
                <input id="file_upload" type="file" />
            </div>
            <div class="chat-box-msg">
                <textarea id="msg"></textarea>
                <button class="btn btn-success">发送</button>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>

    <!-- 进度条 -->
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            20%
        </div>
    </div>

{% endblock %}


{% block bottom-js %}
    <script>
        // using js to get csrftoken
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
        // end js

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        // 全局字典，用于存切换视图前的html元素
        GLOBAL_CHAT_RECORD_DIC = {
            "single":{},
            "group":{}
        };

        $(document).ready(function () {
            // 在发送ajax之前设置csrf(set csrf before send ajax)
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });  // end set csrf

            // 让聊天室版块高亮
            //$(".navbar-nav a[href='{{ request.path }}']").parent().addClass("active");
            // 事件委托
            $("body").delegate("textarea", "keydown", function (e) {  // e==event
                if(e.which == 13){  // 按下键的数字(e.which);13是enter键的ASCII码
                    var msg_text = $("textarea").val();
                    if ($.trim(msg_text).length > 0){
                        console.log(msg_text);
                        // 发送消息给对方
                        SendMsg(msg_text);
                        // 将发送的信息打印到自己的window界面
                        AddSendMsgIntoWindow(msg_text, "text");  // 设定文字发送的类型为text
                        $("textarea").val("");  // 将输入框清空
                    }else {
                        alert("请输入要发送的消息")
                    }

                }
            });
{#            用定时器浏览器会崩(卡)#}
{#            setInterval(function () {#}
{#                GetNewMsgs();#}
{#            }, 3000)#}
            GetNewMsgs();  // 开始取消息
        });

        // 点击左侧界面的好友，触发事件，打开聊天界面
        function OpenChatWindow(ele) {
            // console.log($(ele));
            $(ele).addClass("active");  // 对左侧点击的好友增加高亮
            $(ele).siblings().removeClass("active");  // 将同级元素去除高亮属性
            var contact_id = $(ele).attr("id");
            var contact_type = $(ele).attr("contact-type");
            var contact_name = $(ele).find(".contact-name").text();
            console.log(contact_id);
            console.log(contact_type);
            console.log(contact_name);
            // 视图切换，在切换之前将原本的视图的html元素存到全局字典
            // 原本的框题框contact-id属性不为空，即切换视图前左侧已有点击对象
            if ($(".chat-box-title").attr("contact-id")){
                // 从标题框取出切换前用户的id,与联系方式contact-type
                var session_id = $(".chat-box-title").attr("contact-id");
                var session_type = $(".chat-box-title").attr("contact-type");
                // 将切换产前的视图存入全局字典
                GLOBAL_CHAT_RECORD_DIC[session_type][session_id] = $(".chat-box-window").html();
            }

            var chat_box_title_content = "<span>正在和 " + contact_name + " 聊天</span>";
            $(".chat-box-title").html(chat_box_title_content);
            // 给标题框添加 通信对象的id,通信类型(群发或单独发)
            $(".chat-box-title").attr("contact-id", contact_id);
            $(".chat-box-title").attr("contact-type", contact_type);

            // 若原本是有消息数量提醒，点击后无消息数量提醒
            $(ele).find(".badge").text(0);  // 将消息提醒量置为0
            $(ele).find(".badge").addClass("hide");  // 隐藏

            // 把chat-window的html元素从全局字典中存出来
            // 第一次点击该联系人时，chat_record为undefined,因为字典的single下还没有生成id(key)对应的value
            var chat_record = GLOBAL_CHAT_RECORD_DIC[contact_type][contact_id];
            console.log(chat_record,typeof chat_record);
            if (typeof chat_record == "undefined"){
                $(".chat-box-window").html("");
            }else {
                // 如果chat_record为undefined，则下面代码无法将对话界面清空(重要)
                $(".chat-box-window").html(chat_record);
                console.log("haha>>", chat_record)
            }

        }

        function AddSendMsgIntoWindow(msg_obj, msg_type) {

            if (msg_type == "text"){  // 如果发送文字，显示文字在用户聊天窗口
                var new_msg_ele = "<div class='msg-item'>" +
                    "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                    "<span>" + new Date().toLocaleDateString() + "</span>" +
                    "<div class='msg-text'>" + msg_obj + "</div>" +
                "</div>";
                    console.log(msg_obj.type);
            }else if (msg_type.startsWith("image")){  // 如果发送图片，图片的type是image/xxx.eg:image/jpeg or image/png
                 // 也可以用　msg_type.startsWith("image")
                var new_msg_ele = "<div class='msg-item'>" +
                        "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                        "<span>" + new Date().toLocaleDateString() + "</span>" +
                         // 先把文件传到自己的目录下，再展示到用户的界面
                        "<div class='msg-text'><img style='width:50%' src='"+
                            "/static/{{ request.user.userprofile.id }}/"+ msg_obj.name +"' /></div>" +
                    "</div>";
            }else {  // pdf可以在线查看，docx一点击就下载
                var new_msg_ele = "<div class='msg-item'>" +
                        "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                        "<span>" + new Date().toLocaleDateString() + "</span>" +
                         // 先把文件传到自己的目录下，再展示到用户的界面
                        "<div class='msg-text'><a href='"+
                            "/static/" + "{{ request.user.userprofile.id }}/"+ msg_obj.name +"' target='_blank'>" +
                        "上传成功点我下载</a></div>" +
                    "</div>";
            }


            $(".chat-box-window").append(new_msg_ele);

            $(".chat-box-window").animate({
                scrollTop: $(".chat-box-window")[0].scrollHeight  // 每隔0.5s 自动向下滚动
            }, 500);
            // console.log($(".chat-box-window")[0]);
        }
        
        // 发送消息给好友或群组
        function SendMsg(msg_text) {
            var contact_id = $(".chat-box-title").attr("contact-id");
            var contact_type = $(".chat-box-title").attr("contact-type");
            if (contact_id && contact_type){
                var msg_item = {
                    "from": "{{ request.user.userprofile.id }}",
                    "to": contact_id,
                    "type": contact_type,
                    "msg": [msg_text, "text"]  // 要发送的消息,文字类型设置为text
                };
                
                $.post("{% url 'send_msg' %}",
                    {"msg_dic": JSON.stringify(msg_item)},
                    function (callback) {
                        console.log(callback, typeof callback);
                    })
            }else {
                alert("请选择发送消息的对象")
            }
        }

        // 用户获取消息
        function GetNewMsgs() {
            console.log("----getting new msg----");
            $.getJSON("{% url 'get_new_msgs' %}",
                function (callback) {
                    // callback是列表对象，object, 列表每个元素都是一个消息字典
                    console.log(callback, typeof callback);  // Array [Object] object
                    // 解析消息，用户可能收到与当前正在聊天用户的消息，也可能是其他用户发的消息
                    ParseNewMsgs(callback);

                    return GetNewMsgs();  //　递归
                })
        }

        // 解析消息，用户可能收到与当前正在聊天用户的消息，也可能是其他用户发的消息
        function ParseNewMsgs(callback) {
            // callback为列表形式，列表的每个元素是数据字典形式(含时间戳)
            // 当前聊天窗口的contact-id,与聊天方式(群聊??)
            var current_session_id = $(".chat-box-title").attr("contact-id");
            var current_session_type = $(".chat-box-title").attr("contact-type");
            for (var msg_item in callback){
                // callback为后台返回的列表，存在待接收的消息字典
                // {'from': '3', 'timestamp': 1495542839.880795, 'msg': '\naaaassss', 'type': 'single', 'to': '1'}
                console.log(">>",callback[msg_item]);
                // console.log(">>>",callback[msg_item]["from"]);  // 这两种方式都可以
                // console.log(">>>",callback[msg_item].from);

                // 将数据字典渲染成html格式
                // 根据收到消息的type不同(文字/图片/文件)，进行相应的渲染
                if (callback[msg_item]["msg"][1] == "text"){
                    // 如果发送文字，显示文字在用户聊天窗口
                    var new_msg_ele = "<div class='msg-item'>" +
                        "<span style='color:red'>" + callback[msg_item]["from"] + "</span>" +
                        "<span>" + callback[msg_item]["timestamp"]+ "</span>" +
                        "<div class='msg-text'>" + callback[msg_item]["msg"][0] + "</div>" +
                    "</div>";
                // 如果发送图片，图片的type是image/xxx.eg:image/jpeg or image/png
                }else if (callback[msg_item]["msg"][1].startsWith("image")){
                     // 也可以用　msg_type.startsWith("image")
                    var new_msg_ele = "<div class='msg-item'>" +
                        "<span style='color:red'>" + callback[msg_item]["from"] + "</span>" +
                        "<span>" + callback[msg_item]["timestamp"]+ "</span>" +
                        // callback[msg_item]["msg"][0]为图片名
                        "<div class='msg-text'><img style='width:50%' src='" +
                            // 这里前端似乎无法，通过用户id，获取用户名，因此我把用户的家目录名改为用户的id
                            "/static/" + callback[msg_item]["from"] + "/" + callback[msg_item]["msg"][0] + "' /></div>" +
                    "</div>";

                }else {  // pdf可以在线查看，docx一点击就下载

                    var new_msg_ele = "<div class='msg-item'>" +
                        "<span style='color:red'>" + callback[msg_item]["from"] + "</span>" +
                        "<span>" + callback[msg_item]["timestamp"] + "</span>" +
                        // callback[msg_item]["msg"][0]为文件名
                        "<div class='msg-text'><a href='" +
                            "/static/" + callback[msg_item]["from"] + "/" + callback[msg_item]["msg"][0] +
                            "' target='_blank'>" + "上传成功点我下载</a></div>" +
                    "</div>";
                }

                // 如果是一对一发信息，消息接收方根据发消息方的id，将消息添加到聊天窗口
                // 如果是群聊，消息接收方根据群的id，将消息添加到聊天窗口
                if (callback[msg_item]["type"]=="single"){
                    var msg_from_contact_id = callback[msg_item]["from"];
                }else {
                    var msg_from_contact_id = callback[msg_item]["to"];
                }
                // 用户收到的是与当前正在聊天用户的消息
                if (current_session_id==msg_from_contact_id && current_session_type==callback[msg_item]["type"]){
                    // 将消息的html元素添加到聊天窗口
                    $(".chat-box-window").append(new_msg_ele);
                    // 设置定时器，使接收消息方界面自动向下滚动
                    $(".chat-box-window").animate({
                        scrollTop: $(".chat-box-window")[0].scrollHeight  // 每隔0.5s 自动向下滚动
                    }, 500);

                }else {
                    // 用户没打开消息发送者的对话框，消息暂存到内存中(全局变量中)
                    if (typeof GLOBAL_CHAT_RECORD_DIC[callback[msg_item]["type"]][msg_from_contact_id]=="undefined"){
                        GLOBAL_CHAT_RECORD_DIC[callback[msg_item].type][msg_from_contact_id]=new_msg_ele;
                    }else {  // 如果GLOBAL_CHAT_RECORD_DIC[current_session_type][current_session_id]为undefined
                        GLOBAL_CHAT_RECORD_DIC[callback[msg_item].type][msg_from_contact_id]+=new_msg_ele;
                    }
                }
                // 新消息提醒, 下面这句代码花了我不少时间呢!
                var contact_ele = $(".list-group li[contact-type='"+callback[msg_item].type+"'][id='"+msg_from_contact_id+"']");
                console.log(">>>>:", contact_ele.text());
                var current_new_msg_count = $(contact_ele).find(".badge").text();
                console.log(">>current_new_msg_count", current_new_msg_count, typeof current_new_msg_count);
                $(contact_ele).find(".badge").removeClass("hide");
                $(contact_ele).find(".badge").text(parseInt(current_new_msg_count)+1);

            }  // end for
        }  // end ParseNewMsgs function

        function FileUpload() {
            var formData = new FormData();
            console.log("formData:>>", formData);
            console.log($("#file_upload")[0].files[0]);

            // 发送图片及文件，接收方也能收到
            var contact_id = $(".chat-box-title").attr("contact-id");
            var contact_type = $(".chat-box-title").attr("contact-type");
            if (contact_id && contact_type){
                var msg_item = {
                    "from": "{{ request.user.userprofile.id }}",
                    "to": contact_id,
                    "type": contact_type,
                    // 这里不能用$("#file_upload")[0].files[0]，为了保持与发送文字时的一致性，将"msg"的value置为空
                    "msg": [$("#file_upload")[0].files[0].name, $("#file_upload")[0].files[0].type]
                };
               　formData.append("file", $("#file_upload")[0].files[0]);  // 图片 or 文件的信息

                $.ajax({
                    url:"{% url 'webchat_file_upload' %}",  // 向后台发起请求的url
                    type:"POST",  // 向后台发起POST请求
                    data: formData,
                    // 必须false才会避开jQuery对 formdata 的默认处理;XMLHttpRequest会对 formdata 进行正确的处理
                    processData:false,
                    contentType:false,  // 必须false才会自动加上正确的Content-Type
                    // 当请求执行完成之后，自动调用；arg(参数):服务器返回的数据
                    success: function (arg) {
                        console.log("arg>>:",arg);

                        if (arg == "upload file success"){
                            // 文件上传到(发送者)用户家目录，接下来再发起ajax请求将文件(or图片)发送到接收方的界面上
                            var formData = new FormData();
                            // 将发送方id，接收方的id,发送类型(sigle or group?)字典发送到后台, 下面必须写json格式!!否则后台接收到到字典
               　           // 用msg_dic是为了与发送保持一致，方便后台处理
                            formData.append("msg_dic", JSON.stringify(msg_item));
                            formData.append("file", $("#file_upload")[0].files[0]);  // 图片 or 文件的信息
                            $.ajax({
                                url:"{% url 'send_msg' %}",  // 向后台发起请求的url
                                type:"POST",  // 向后台发起POST请求
                                data: formData,
                                // 必须false才会避开jQuery对 formdata 的默认处理;XMLHttpRequest会对 formdata 进行正确的处理
                                processData:false,
                                contentType:false,  // 必须false才会自动加上正确的Content-Type
                                // 当请求执行完成之后，自动调用；arg(参数):服务器返回的数据
                                success: function (arg) {
                                    console.log("arg>>:",arg);
                                }
                            })
                        }  // endif

                    }  // end success function
                }); // end ajax
                // ajax是异步非阻塞的，不会等上面文件上传完再调用下面的方法；设置进度条，传参数是为了获取上传文件的文件大小
                UploadProgress($("#file_upload")[0].files[0]);
            }  // endif
        }  // end FileUpload function

        function UploadProgress(file_obj) {
            // 设置定时器，每1秒向服务端发起起求，询问后端接收文件了多少字节(已经发送了多少字节)。
            var RefreshFlieSize= setInterval(function () {
                $.getJSON("{% url 'get_file_upload_size' %}",
                    {"filename": file_obj.name},
                    function (callback) {
                        // Object {recv_size: 3604480} object 用getJSON可以有用在前端把json格式loads，会自动loads
                        // 后台返回：HttpResponse(json.dumps({"recv_size": progress}))
                        console.log("callback:",callback,typeof callback);
                        if (file_obj.size==callback["recv_size"]){
                            clearInterval(RefreshFlieSize);  // 如果文件已发送完毕，则清除定时器
                            AddSendMsgIntoWindow(file_obj, file_obj.type);
                            // 当发送文件A成功后，若再次发送文件A，是不会成功的。
                            // 因为后台的cache已经存有该文件A的文件对象与文件大小，故发送成功后再通过ajax请求将key-value删除
                            $.get("{% url 'delete_cache_key' %}",
                                {"cache_key": file_obj.name},
                                function (callback) {
                                    console.log("delete cache_key:", callback)
                                }
                            )}
                        // 设置进度条
                        var progress_percent = (callback["recv_size"]/file_obj.size) * 100 + "%";
                        $(".progress-bar").css("width", progress_percent);
                        $(".progress-bar").text(progress_percent);

                    }  // end callback function
                );  // end getJSON
            },500);
        }
        
    </script>

{% endblock %}







