<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>



    <script>
        window.onload = function() {
          // Set the size of the rendered Emojis
          // This can be set to 16x16, 36x36, or 72x72
          twemoji.size = '36x36';

          // Parse the document body and
          // insert <img> tags in place of Unicode Emojis
          twemoji.parse(document.body);
        }
    </script>
</head>
<body>
    <img class="emoji" draggable="false" src="http://twemoji.maxcdn.com/16x16/2615.png">

</body>
</html>